{% if libraries %}
    <ul>
        {% for library in libraries %}
            <li><a href="{% url 'biblioteka:library-detail' library.pk %}">{{library.location}}</a>
                
            </li>
        {% endfor %}
    </ul>
{% else %}
Brak bibliotek!</br>
{% endif %}
<a href="{% url 'biblioteka:library-create' %}">Dodaj nową bibliotekę</a><br><br>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}