{% if libraries %}
    <ul>
        {% for author in libraries %}
            <li><a href="{% url 'biblioteka:author-detail' author.pk %}">{{author.name}}</a>
                <a href="{% url 'biblioteka:author-delete' author.pk %}">USUŃ</a>
                <a href="{% url 'biblioteka:books-by-author' author.pk %}">Zobacz książki autora</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
Brak autorów!</br>
{% endif %}
<a href="{% url 'biblioteka:author-create' %}">Dodaj nowego autora</a>