{% if books %}
    <ul>
        {% for book in books %}
            <li><a href="{% url 'biblioteka:book-detail' book.pk %}">"{{book.title}}" - {{book.author.name}}</a>
                <a href="{% url 'biblioteka:book-delete' book.pk %}">USUŃ</a>
                <a href="{% url 'biblioteka:find-libraries-with-book' book.pk %}">Znajdź biblioteki z daną książką</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
Brak książek!</br>
{% endif %}
<a href="{% url 'biblioteka:book-create' %}">Dodaj nową książkę</a>