{% if libraries %}
    <ul>
        {% for library in libraries %}
            <li><a href="{% url 'biblioteka:library=detail' library.pk %}">{{library.location}}</a>
                <a href="{% url 'biblioteka:library-delete' library.pk %}">USUŃ</a>
                <a href="{% url 'biblioteka:books-in-library' library.pk %}">Wyświetl książki dostępne w bibliotece</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
Brak bibliotek!</br>
{% endif %}
<a href="{% url 'biblioteka:library-create' %}">Dodaj nową bibliotekę</a>