<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Author</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
<h4>Create Author</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" action="">
            {% csrf_token %}
            <div class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Author name</label>
                <input type="text" name="{{form.name.html_name}}" {% if form.name.value %} value="{{form.name.value}}" {%endif%} id="{{form.name.id_for_label}}" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label">Author surname</label>
                <input type="text" name="surname" class="form-control" required/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</body>
</html>